@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  margin: 0;
  line-height: 1.5;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  .form-card {
    /deep/ .mat-card-header-text {
      margin: auto;
    }

    form {
      .form-table {
        width: 100%;

        mat-form-field {
          width: 100%;
        }

        tr td {
          padding-top: 4%;
        }
      }
    }

    mat-card-actions {
      button {
        margin: auto;

        /deep/ .mat-button-wrapper {
          font-size: 1.3em
        }
      }
    }
  }

}

search-dialog {
  .search-dialog-wrapper {
    width: 500px;
  }
}

compose-message-dialog {
  .message-dialog-wrapper {
    width: 700px;
  }
}
