.content-wrapper {
  padding-left: 20%;
  padding-right: 20%;
}

.banner {
  background-color: #b2b2b2;
}

mat-toolbar {
  padding-left: 20%;
  padding-right: 20%;
}
.banner {
  padding-left: 20%;
  padding-right: 20%;
  mat-toolbar {
    .spacer {
      flex: 1 1 auto;
    }
  }
}

.example-spacer {
  flex: 1 1 auto;
}

.banner .logo {
  margin: 15px;
  float: left;
  color: #ffffff;
}

.banner .login {
  margin: 15px 5px 5px 5px;
  float: right;
}

.banner a {
  color: white;
}

body {
  background-color: #dedede;
}

.btn.btn-primary {
  background-color: #5a6268 !important;
  border-color: black !important;
}

.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 50px auto 30px;
  max-width: 60%;
  padding: 50px 70px 40px 71px;
}

.email-sent {
  text-align: center;
}

.profile-details .main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 0px auto 30px;
  max-width: 80%;
  padding: 50px 70px 70px 71px;
}

.profile-details textarea {
  width: 100%;
}

.banner .search {
  margin: 15px 5px 5px 5px;
  float: right;
}

.banner .settings {
  margin-top: 50px;
  float: right;
}


.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 0 auto 30px;
  max-width: 90%;
  padding: 50px 70px 40px 71px;
}

.profile-pic img {
  height: 150px;
  width: 150px;
}

.profile-name {
  margin: 10px;
  font-size: 20px;
}

.bio {
  margin: 20px;
}

.connections {
  margin: 20px;
}

.connections img {
  height: 80px;
  width: 80px;
}

.connections > div {
  margin-left: 25px;
}

.connection {
  margin-right: 5px;
}

.search-results .profile-img img {
  height: 70px;
  width: 70px;
}

.results-amount {
  margin-bottom: 10px;
}

.search .main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 0 auto 30px;
  max-width: 90%;
  padding: 10px 70px 40px 71px;
}

.profile-action {
  padding-left: 50%;
}

.connection a {
  text-decoration: none;
}
