.profile-wrapper {
  margin: 5% 10%;

  .header {
    display: flex;
    justify-content: space-between;

    .info {
      display: flex;

      .profile-pic {
        img {
          height: 10em;
          width: 10em;
        }

        input {
          display: inherit;
          width: 185px;
        }
      }

      .profile-name {
        margin-top: 6%;
        font-size: 1.5em;

        strong {
          margin-left: 1.5em;
        }

        mat-form-field {
          margin-top: -8%;

          /deep/ .mat-form-field-infix {
            padding-top: 0;
          }
        }
      }
    }

    .actions {
      display: flex;
      flex-direction: column;

      button {
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
      }
    }
  }

  .bio {
    margin: 3%;

    mat-form-field {
      display: block;

      /deep/ .mat-form-field-infix {
        padding-top: 0;

        textarea {
          min-height: 6em
        }
      }
    }
  }

  .connections {
    margin: 3%;

    .connection-results {
      display: flex;
      flex-wrap: wrap;

      .connection {
        margin: .3em;

        img {
          height: 5em;
          width: 5em;
        }
      }
    }
  }

  .location {
    margin: 5%;

    #map {
      height: 35em;
    }
  }
}
