.btn.btn-primary {
  background-color: #5a6268!important;
  border-color: black!important;
}

.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 0 auto 30px;
  max-width: 90%;
  padding: 50px 70px 40px 71px;
}


.profile-details .main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 0px auto 30px;
  max-width: 80%;
  padding: 50px 70px 70px 71px;
}
.profile-details textarea {
  width: 100%;
}

.profile-pic img {
  height: 150px;
  width: 150px;
}

.profile-name {
  margin: 10px;
  font-size: 20px;
}

.bio {
  margin: 20px;
}

.connections {
  margin: 20px;
}

.connections img {
  height: 80px;
  width: 80px;
}

.connections > div {
  margin-left: 25px;
}

.connection {
  margin-right: 5px;
}

.search .main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 0 auto 30px;
  max-width: 90%;
  padding: 10px 70px 40px 71px;
}

.connection a {
  text-decoration: none;
}
