<div class="profile-wrapper">

  <div class="header">
    <div class="info">
      <div class="profile-pic">
        <img [src]="profileImageLocation">
        <input *ngIf="editMode"
               type="file"
               name="profileImage"
               (change)="uploadImage($event)"/>
      </div>

      <div class="profile-name">
        <strong *ngIf="!editMode">{{profile?.name}}</strong>
        <mat-form-field *ngIf="editMode">
          <input type="text"
                 name="name"
                 [(ngModel)]="profile.name"
                 matInput
                 required/>
          <mat-error>
            Name cannot be empty
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="actions">

      <div *ngIf="isProfileOwner">
        <button *ngIf="!editMode"
                (click)="enterEditMode()"
                color="primary"
                mat-raised-button>
          Edit Profile
        </button>
        <button *ngIf="editMode"
                (click)="saveProfile()"
                color="primary"
                mat-raised-button>
          Save Changes
        </button>
      </div>

      <div *ngIf="userIsLoggedIn && !isProfileOwner">
        <div class="send-message">
          <button (click)="openSendMessageDialog()"
                  color="primary"
                  mat-raised-button>
            Send Message
          </button>
        </div>

        <div class="connection">
          <button *ngIf="connectionStatus === 'CONNECTED'"
                  (click)="removeConnection()"
                  color="primary"
                  mat-raised-button>
            Remove Connection
          </button>
          <button *ngIf="connectionStatus === 'NOT_CONNECTED'"
                  (click)="addConnection()"
                  color="primary"
                  mat-raised-button>
            Add Connection
          </button>
          <button *ngIf="connectionStatus === 'PENDING'"
                  (click)="removeConnection()"
                  color="primary"
                  mat-raised-button>
            Cancel Connection Request
          </button>
          <button *ngIf="connectionStatus === 'NEEDS_CONFIRMATION'"
                  (click)="addConnection()"
                  color="primary"
                  mat-raised-button>
            Confirm Connection Request
          </button>
        </div>
      </div>

    </div>
  </div>

  <div class="bio" *ngIf="profile?.bio || editMode">
    <strong>Bio: </strong>
    <div *ngIf="!editMode">{{profile?.bio}}</div>
    <mat-form-field *ngIf="editMode">
      <textarea [(ngModel)]="profile.bio" name="bio" matInput></textarea>
    </mat-form-field>
  </div>

  <div class="connections" *ngIf="connections?.length > 0">
    <strong>Connections:</strong>
    <div class="connection-results">
      <div class="connection" *ngFor="let connection of connections">
        <a routerLink="/profile/{{connection.id}}">
          <img src="{{imagesUri}}/{{connection.imageId}}" [title]="connection.name" [alt]="connection.name">
        </a>
      </div>
    </div>
  </div>

  <div class="location" *ngIf="userIsLoggedIn">
    <div *ngIf="editMode">
      <mat-checkbox [(ngModel)]="profile.showLocation">Show location</mat-checkbox>
    </div>
    <div id="map" [hidden]="!profile?.showLocation"></div>
  </div>

</div>
