<div class="main-content">
  <div class="container">

    <div *ngIf="profileOwner" class="row col">
      <button *ngIf="!editMode" (click)="enterEditMode()">Edit Profile</button>
      <button *ngIf="editMode" (click)="saveProfile()">Save Changes</button>
    </div>

    <div *ngIf="userIsLoggedIn && !isProfileOwner" class="connection-button">
      <button *ngIf="connectionStatus === 'CONNECTED'" (click)="removeConnection()">Remove Connection</button>
      <button *ngIf="connectionStatus === 'NOT_CONNECTED'" (click)="addConnection()">Add Connection</button>
      <button *ngIf="connectionStatus === 'PENDING'" (click)="removeConnection()">Cancel Connection Request</button>
      <button *ngIf="connectionStatus === 'NEEDS_CONFIRMATION'" (click)="addConnection()">Confirm Connection Request</button>
    </div>

    <div class="main-div">

      <div class="row">
        <div class="profile-pic">
          <img [src]="profileImageLocation">
          <input *ngIf="editMode" type="file" name="profileImage" (change)="uploadImage($event)"/>
        </div>

        <div class="profile-name">
          <span *ngIf="!editMode">{{profile?.name}}</span>
          <input *ngIf="editMode" [(ngModel)]="profile.name" type="text" name="name"/>
        </div>

      </div>

      <div class="row bio">
        <div class="row col">
          <strong>Bio: </strong>
        </div>
        <div class="row col">
          <div *ngIf="!editMode">{{profile?.bio}}</div>
          <textarea *ngIf="editMode" [(ngModel)]="profile.bio" name="bio"></textarea>
        </div>
      </div>


      <div class="connections">
        <strong>Connections:</strong>
        <div class="row">
          <div *ngFor="let connection of connections">
            <div class="connection">
              <a routerLink="/profile/{{connection.id}}">
                <img src="{{imagesUri}}/{{connection.imageId}}" [title]="connection.name" [alt]="connection.name"> <br>
                {{connection.name}}
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
