.search-results .profile-img img {
  height: 70px;
  width: 70px;
}

.results-amount {
  margin-bottom: 10px;
}

.search .main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 0 auto 30px;
  max-width: 90%;
  padding: 10px 70px 40px 71px;
}
