.messages-wrapper {

  mat-drawer-container {
    min-height: 6.5em;

    mat-drawer {
      width: 15%;

      .side-nav {
        margin-top: 10%;

        button {
          display: block;
          margin-top: 5%;
          width: 100%;
        }

        button.selected {
          background-color: #f0efff;
        }
      }
    }

    .mat-drawer-content {
      margin-left: 15%;

      .table-wrapper {
        overflow: auto;

        table {
          width: 100%;

          .mat-row:hover {
            background-color: #f0efff;
            cursor: pointer;
          }

          tr.mat-footer-row {
            font-weight: bold;
          }

          .mat-table-sticky {
            border-top: 1px solid #e0e0e0;
          }
        }
      }

      .message-content {
        mat-card-content {
          margin: 1%;

          table.message-table {
            width: 100%;

            .message-body {
              white-space: pre-line;
            }
          }
        }

        mat-card-actions {
          margin: 1%;
        }
      }
    }

  }

}

