<div class="home-wrapper">

  <mat-card class="form-card">
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" autocomplete="off">

      <mat-card-header>
        <mat-card-title>Connect with musicians in your area</mat-card-title>
      </mat-card-header>

      <mat-card-content>

        <table class="form-table" cellspacing="0">
          <tr>
            <td>
              <mat-form-field>
                <input matInput ngModel placeholder="Email" name="email" required>
                <mat-error>
                  Please enter your email
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field>
                <input matInput ngModel placeholder="Password" type="password" name="password" required>
                <mat-error>
                  Please enter your password
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <a routerLink="/reset-password" color="primary">Forgot password</a>
            </td>
          </tr>
        </table>

      </mat-card-content>

      <mat-card-actions>
        <button type="submit" [disabled]="loginForm.invalid" mat-raised-button color="primary">Login</button>
      </mat-card-actions>

    </form>
  </mat-card>

</div>
