<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>AndBand</title>
    <base href="/">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apiUri" th:content="${apiUri}"/>
    <meta name="imagesUri" th:content="${imagesUri}"/>
    <meta name="recaptchaKey" th:content="${recaptchaKey}"/>
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    <link rel="stylesheet" href="static/styles.css">
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<app-root></app-root>

<script th:src="@{${'https://maps.googleapis.com/maps/api/js?key=' + googleMapsKey}}" async defer></script>
<script type="text/javascript" src="static/runtime.js"></script>
<script type="text/javascript" src="static/polyfills.js"></script>
<script type="text/javascript" src="static/main.js"></script>

<div id="googleRecaptcha"></div>

</body>
</html>