<div class="reset-password-wrapper">

  <mat-card *ngIf="hasToken" class="form-card">
    <form #resetPasswordForm="ngForm" (ngSubmit)="resetPassword(resetPasswordForm.value)" autocomplete="off">

      <mat-card-header>
        <mat-card-title>Enter your new password</mat-card-title>
      </mat-card-header>

      <mat-card-content>

        <table class="form-table" cellspacing="0">
          <tr>
            <td>
              <mat-form-field>
                <input type="password" matInput ngModel placeholder="Password" name="password" minlength="8" required>
                <mat-error>
                  Please enter a password with a minimum of 8 characters
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
        </table>

      </mat-card-content>

      <mat-card-actions>
        <button type="submit" [disabled]="resetPasswordForm.invalid" mat-raised-button color="primary">Reset password</button>
      </mat-card-actions>

    </form>
  </mat-card>

  <mat-card *ngIf="!hasToken" class="form-card">
    <form #resetPasswordForm="ngForm" (ngSubmit)="initiatePasswordReset(resetPasswordForm.value)" autocomplete="off">

      <mat-card-header>
        <mat-card-title>Reset your password</mat-card-title>
      </mat-card-header>

      <mat-card-content>

        <table class="form-table" cellspacing="0">
          <tr>
            <td>
              <mat-form-field>
                <input type="text" matInput ngModel placeholder="Email" name="email" required>
                <mat-error>
                  Please enter your email
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
        </table>

      </mat-card-content>

      <mat-card-actions>
        <button type="submit" [disabled]="resetPasswordForm.invalid" mat-raised-button color="primary">Reset password</button>
      </mat-card-actions>

    </form>
  </mat-card>

</div>
