<div class="search-dialog-wrapper">

  <mat-card class="form-card">
    <form #searchForm="ngForm" (ngSubmit)="search(searchForm.value)" autocomplete="off">

      <mat-card-header>
        <mat-card-title>Search for AndBand profiles</mat-card-title>
      </mat-card-header>

      <mat-card-content>

        <table class="form-table" cellspacing="0">
          <tr>
            <td>
              <mat-form-field>
                <input type="text"
                       placeholder="Key Words"
                       name="keyWords"
                       ngModel
                       required
                       matInput>
                <mat-error>
                  Please enter key words to search for
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr *ngIf="isLoggedIn">
            <td>
              <mat-checkbox [(ngModel)]="searchLocationRange"
                            name="searchLocationRange"
                            [disabled]="!canSearchRange"
                            (click)="showLocationRangeMessage()">
                Search by location range
              </mat-checkbox>
              <mat-form-field>
                <input type="number"
                       [disabled]="!searchLocationRange"
                       placeholder="Range In Kilometers"
                       name="rangeInKilometers"
                       ngModel
                       required
                       matInput>
                <mat-error>
                  Please a valid range in kilometers
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
        </table>

      </mat-card-content>

      <mat-card-actions>
        <button type="submit" [disabled]="searchForm.invalid" mat-raised-button>Search</button>
        <button type="reset" (click)="close()" mat-raised-button>Cancel</button>
      </mat-card-actions>

    </form>
  </mat-card>

</div>
