<div class="banner">

  <mat-toolbar color="primary">

    <mat-toolbar-row *ngIf="!isLoggedIn()">

      <span class="logo">AndBand</span>
      <span class="spacer"></span>
      <button *ngIf="activeRoute !== '/register'" mat-button routerLink="register">Register</button>
      <button *ngIf="activeRoute !== '/'" mat-button routerLink="/">Login</button>

    </mat-toolbar-row>

    <mat-toolbar-row *ngIf="isLoggedIn()">

      <button routerLink="/profile" class="logo" mat-button>AndBand</button>
      <span class="spacer"></span>
      <button routerLink="/messages" mat-button>Messages</button>
      <button (click)="search()" mat-button>Search</button>
      <button (click)="logOut()" mat-button>Logout</button>

    </mat-toolbar-row>

  </mat-toolbar>

</div>
