<div class="banner">

  <mat-toolbar color="primary">

    <mat-toolbar-row>

      <button routerLink="/" class="logo" mat-button>AndBand</button>
      <span class="spacer"></span>

      <div *ngIf="!isLoggedIn()">
        <button *ngIf="activeRoute !== '/'" mat-button routerLink="/">Login</button>
        <button *ngIf="activeRoute !== '/register'" mat-button routerLink="register">Register</button>
      </div>

      <div *ngIf="isLoggedIn()">
        <button routerLink="/profile" mat-button>Profile</button>
        <button routerLink="/messages" mat-button>Messages</button>
        <button (click)="search()" mat-button>Search</button>
        <button routerLink="/account" mat-button>Account</button>
        <button (click)="logOut()" mat-button>Logout</button>
      </div>

    </mat-toolbar-row>

  </mat-toolbar>

</div>
